.wrapper {
  width: 100%;
  margin: 0;
}
.content {
  width: 50%;
  height: 100%;
  float: right;
  /*background-color: #fff;*/
  overflow-y: auto;
}

.details {
  padding: 40px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    height: 100%;
    /*background-color: #fff;*/
    overflow-y: auto;
    margin-top: 55%;
  }

  .details {
    padding: 40px;
  }
}