@media (min-width: 769px) {

  .details {
    padding: 50px 30px;
    height: 100%;
    width: 50%;
    float: right;
    overflow-y: auto;
    text-align: left;
    color: #464646;
  }

  .desc {
    padding: 60px 20px;
    text-align: center;
  }

  .projectDesc {
    padding: 10px;
  }

}

@media (max-width: 768px) {
  .content {
    height: 100%;
    /*background-color: #fff;*/
    overflow-y: auto;
    padding: 70% 10% 20% 10%;
    color: #464646;
    float: left;
  }


  .projectDesc {
    padding: 10px;
    font-size: 15px;
  }
}

