.about {
    height: 100%;
    width: 50%;
    float: right;
	overflow-y: auto;
    font-family: sans-serif;
}

.aboutHeader{
    padding: 30px 10px;
    text-align: center;
}

.mediaLinks {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
}


.name {
    background: linear-gradient(130deg, #ff7c00 0%, #e93750 30%, #b00970 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    padding-bottom: 20px;
}

.aboutDetails{
    font-size: 16px;
    color: #363636;
    text-align: left;
    width: 70%;
    padding: 0 15%;
}

img.headshot {
    width: 30%;
    border-radius: 50%;
    margin-top: 40px;
}


a {
    text-decoration: none;
    /*color: #b00970;*/
    color: #000;
}

.hi {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #000;
}

span.space{
    padding: 0 5px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .about {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        margin: 50% 0 10% 0%;
    }

    .aboutHeader{
        padding: 30px 10px;
        text-align: center;
    }

    .mediaLinks {
        padding: 10px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
    }
    
    .name {
        background: linear-gradient(130deg, #ff7c00 0%, #e93750 30%, #b00970 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }

}