/* TODO: Switch to JSS */

.about {
	overflow-y: auto;
    font-family: sans-serif;
}

.aboutHeader{
    text-align: center;
}

.aboutDetails{
    font-size: 16px;
    color: #363636;
    text-align: left;
    padding: 0 42px;
    line-height: 22px;
}

img.headshot {
    width: 30%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

 
a {
    text-decoration: none;
    color: #b00970;
}
a:hover {
    text-decoration: underline;
}

.hi {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #000;
}

span.space{
    padding: 0 5px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .about {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        margin: 65% 0 10% 0%;
    }

    .aboutHeader{
        text-align: center;
    }

    .mediaLinks {
        padding: 10px;
        text-align: center;
        font-size: 14px;
        letter-spacing: 1px;
    }
    
    .name {
        background: linear-gradient(130deg, #ff7c00 0%, #e93750 30%, #b00970 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
    }


    .aboutDetails{
        font-size: 17px;
        color: #363636;
        text-align: left;
        padding: 0 32px;
    }

}